@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --background-image-custom-gradient: linear-gradient(to right, #3b82f6, #9333ea);
    --background-image-custom-gradient-2: linear-gradient(to left, #3b82f6, #f43f5e);
    --background-image-card-gradient: linear-gradient(to right, #38b2ac, #4299e1);

    --color-navbarColor: #ffffff;
    --color-btnColor: #3364F7;
    --color-linkColor: #2a5bd7;

    --shadow-custom: 1px 3px 20px 1px rgba(0, 0, 0, 0.1);
    --shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);

    --font-family-roboto: "Roboto", sans-serif;
    --font-family-montserrat: "Montserrat";
}